@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

@layer base {
  body {
    background-color: var(--color-brand-dark);
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif;
  }

  .ultra-thin {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-variation-settings: "wght" 100;
  }
}

:root {
  --color-brand-dark: #121622;
  /* Точний колір з SVG */
  --color-brand-card: #1e2233;
  /* Точний колір карток */
  --color-brand-border: #313b54;
  /* Колір ліній */
  --color-brand-accent: #1e40af;
  /* Синій з іконок */
  --color-status-warning: #fdd261;
  /* Жовтий */

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121622;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}